body {
  margin: 0;
}

table{
  border-collapse: separate;
  border-spacing: 0;
}

@font-face {
  font-family: "PoppinsBold";
  src: url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: "PoppinsRegular";
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

